body{
    background-color: #af7cba;
    text-align: center;
}
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;;}
h2{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;}
h3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;}

.title{
display: flex;
align-items: center;
}

.container{
display: grid;
grid-template-columns: auto auto;
padding: 20px;
}