body{
    background-color: #af7cba;
    text-align: center;
}
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
background-color: beige;
width: 50%;}

.title{
display: flex;
align-items: center;
justify-content: center;
}

.container{
display: grid;
grid-template-columns: auto auto;
padding: 20px;
}